body {
  text-align: center;
}
h1{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 36px;
}
hr{
  height: 1px;
  background: black;
  width: 600px;
  margin: auto;
}
p{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
}
.container{
  display: flex;
  flex-wrap: nowrap;
  margin: auto;
  max-width: 600px;
  justify-content:space-between;
}
.score{
  display: flex;
  flex-basis: 65%;
  align-self: flex-end;
  box-sizing: border-box;
  margin-left: 50px;
}
.lives{
  display: flex;
  align-content:flex-end;
  flex-basis: 25%;
  align-self: flex-end;
  box-sizing: border-box;
  margin-left: 50px;
}
.heart{
  width: 30%;
  height: 30%;
}
#lives{
  align-self: flex-end;
  margin-left: 20px;
}
